@use '../../sass/variables' as *;

.header-menu {
  height: 116px;
  background-color: $header-background;
  padding: 27px 0 27px 56px;
  display: flex;
  align-items: center;

  &__logo {
    width: 110px;
    height: 56px;
    margin-right: 70px;
    cursor: pointer;
  }

  .menu-toggle-button {
    display: none;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 48px;

    li {
      font-size: 22px;
      font-weight: 600;
      color: $black;
      cursor: pointer;
      transition-duration: 200ms;
    }

    li:hover {
      color: $contrast-color;
      transition-duration: 200ms;
    }
  }
  
  ul a {
    text-decoration: none;
  }

  &__car-shop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 46px;
    gap: 10px;
    cursor: pointer;

    p {
      color: $black;
      font-size: 22px;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 768px) {
  .header-menu {
    height: auto;
    padding: 12px;
    justify-content: space-between;

    &__logo {
      width: 74px;
      height: 38px;
    }

    &__options {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
    }

    ul {
      border: 1px solid $black;
      border-radius: 8px;
      padding: 0.5rem;
  
      li {
        font-size: 18px;
        font-weight: 600;
        color: $black;
        cursor: pointer;
        transition-duration: 200ms;
        border-bottom: 1px solid $border-input-color;
        margin-bottom: 12px;
      }
    }  

    .menu-toggle-button {
      display: block;
      border: none;

      img {
        width: 30px;
        height: 30px;
      }
    }
  
    .menu {
      display: block;
    }
  
    .menu.open{
      display: none;
    }

    &__car-shop {
      width: auto;
      margin-right: 12px;
      margin-left: 12px;

      p {
        display: none;
      }

      img {
        width: 30px;
        height: 30px;
        position: relative;
      }
    }   
  }
}